
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite NG Modern";
  font-optical-sizing: auto;
  font-weight: bolder;
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  background-color: black;
}

.banner{
  background-color: #afc1d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border-radius: 15px;
  gap: 5px;
  position: relative;
  perspective: 1000px;
}

.banner img{
  position: relative;
  top: -115px;
  
}

.banner img:hover {
  transform: scale(1.07) rotate3d(1, 1, 1, 10deg);
  transition: transform 0.2s ease;
}

.decor{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner-left{
  margin-left: 0px;
  transform: rotate(40deg);
  position: relative;
  bottom: 560px;
  animation: pulse-left 10s ease-in-out infinite;
}


@keyframes pulse-left{
  0%{ transform: rotate(40deg) scale(1);}
  20%{ transform: rotate(40deg) scale(1.05);}
  40%{ transform: rotate(40deg) scale(1);}
  60%{ transform: rotate(40deg) scale(1.05);}
  80%{ transform: rotate(40deg) scale(1);}
  100%{ transform: rotate(40deg) scale(1.05);}
}

#banner-right{
 position: relative;
 margin-right: 0px;
 bottom: 1260px;
 transform: rotate(-180deg);
 animation: pulse-right 10s ease-in-out infinite;
}

@keyframes pulse-right{
  0%{ transform: rotate(-180deg) scale(1);}
  20%{ transform: rotate(-180deg) scale(1.05);}
  40%{ transform: rotate(-180deg) scale(1);}
  60%{ transform: rotate(-180deg) scale(1.05);}
  80%{ transform: rotate(-180deg) scale(1);}
  100%{ transform: rotate(-180deg) scale(1.05);}
}


#banner-right:hover{
  transform: scale(1.2) rotate(-180deg);
  transition: transform 0.2s ease;
}


#id-1{
  font-size: 45px;
  margin-bottom: 0px;
}

#id-2{
  font-size: 155px;
  font-style: oblique;
  font-weight: bolder;
  margin: 0.5px;
  margin-top: 0px;
  padding: 15px;
  animation: port 8s ease-in-out infinite;
}

@keyframes port{
  0%{ transform: scale(1.02); color: white;}
  50%{ transform: scale(1); color: black;}
  100%{ transform: scale(1.02); color: white;}
}

#id-3{
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 20px;
  position: relative;
  top: -100px;
  
}

.sub-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#id-4{
  font-size: 20px;
  font-style: normal;
  color: rgb(100, 95, 95);
  margin: 0.5px;
  position: relative;
  top: -90px;
}


.banner-text:hover{
  transform: scale(1.09);
  transition: transform 0.2s ease;
  color: white;
}

.intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  margin: 100px;
  padding: 150px;
  border-radius: 15px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdf6e3;
  border-radius: 15px;
}


.container:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;

}

.description{
  padding: 10px;
  height: auto;
  text-align: center;
  font-style: italic;
  border: 1px dashed black;
  border-radius: 15px;
  margin: 15px;
}



.description span{
  color: #83acdc;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 2px;
}

.description span:hover{
  color: black;
  background-color: #afc1d5;
  
}

#image-left{
  position: relative;
  right: -120px;
  bottom: 100px;
  transform: rotate(-20deg);
  animation: intro-left 10s ease-in-out infinite;
}

@keyframes intro-left{
  0%{ transform: rotate(-20deg) ;}
  50%{ transform: rotate(8deg) ;}
  100%{ transform: rotate(-20deg) ;}
}

#image-right{
  position: relative;
  left: -120px;
  bottom: 10px;
  transform: rotate(20deg);
  animation: intro-right 10s ease-in infinite;
}

@keyframes intro-right{
  0%{ transform: rotate(20deg) ;}
  50%{ transform: rotate(-8deg) ;}
  100%{ transform: rotate(20deg) ;}
}






