
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite NG Modern";
  font-optical-sizing: auto;
  font-weight: bolder;
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  background-color: #afc1d5;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 150px;
  gap: 5px;
  position: relative;
  perspective: 1000px;
}

.banner img{
  position: relative;
  top: -115px;
  
}

.banner img:hover {
  transform: scale(1.07) rotate3d(1, 1, 1, 10deg);
  transition: transform 0.2s ease;
}


#id-1{
  font-size: 45px;
  margin-bottom: 0px;
}

#id-2{
  font-size: 155px;
  font-style: oblique;
  font-weight: bolder;
  margin: 0.5px;
  margin-top: 0px;
}

#id-3{
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 20px;
  position: relative;
  top: -100px;
  
}

.sub-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#id-4{
  font-size: 20px;
  font-style: normal;
  color: rgb(100, 95, 95);
  margin: 0.5px;
  position: relative;
  top: -90px;
}


.banner p:hover{
  transform: scale(1.09);
  transition: transform 0.2s ease;
  color: white;
}

.intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdf6e3;
  border-radius: 15px;
}


.container:hover{
  transform: scale(1.03);
  transition: transform 0.2s ease;
}

.description{
  padding: 10px;
  height: auto;
  text-align: center;
  font-style: italic;
  border: 1px dashed black;
  border-radius: 15px;
  margin: 15px;
}



.description span{
  color: #afc1d5;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 2px;
}

.description span:hover{
  color: black;
  background-color: #afc1d5;
}

#image-left{
  position: relative;
  right: -120px;
  bottom: 100px;
  transform: rotate(-20deg);
}

#image-left:hover{
  transform: scale(1.07) rotate3d(1, 1, 1, 5deg);
  transition: transform 0.2s ease;
}

#image-right{
  position: relative;
  left: -120px;
  transform: rotate(20deg);
}

#image-right:hover{
  transform: scale(1.07) rotate3d(1, 1, 1, -5deg);
  transition: transform 0.2s ease;
}





