
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite NG Modern";
  font-optical-sizing: auto;
  font-weight: bolder;
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  background-color: black;
}

.banner{
  background-color: #afc1d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border-radius: 15px;
  gap: 5px;
  position: relative;
  perspective: 1000px;
}

.banner img{
  position: relative;
  top: -115px;
  
}

.banner img:hover {
  transform: scale(1.07) rotate3d(1, 1, 1, 10deg);
  transition: transform 0.2s ease;
}

.decor{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner-left{
  margin-left: 0px;
  transform: rotate(40deg);
  position: relative;
  bottom: 560px;
  animation: pulse-left 10s ease-in-out infinite;
}


@keyframes pulse-left{
  0%{ transform: rotate(40deg) scale(1);}
  20%{ transform: rotate(40deg) scale(1.05);}
  40%{ transform: rotate(40deg) scale(1);}
  60%{ transform: rotate(40deg) scale(1.05);}
  80%{ transform: rotate(40deg) scale(1);}
  100%{ transform: rotate(40deg) scale(1.05);}
}

#banner-right{
 position: relative;
 margin-right: 0px;
 bottom: 1260px;
 transform: rotate(-180deg);
 animation: pulse-right 10s ease-in-out infinite;
}

@keyframes pulse-right{
  0%{ transform: rotate(-180deg) scale(1);}
  20%{ transform: rotate(-180deg) scale(1.05);}
  40%{ transform: rotate(-180deg) scale(1);}
  60%{ transform: rotate(-180deg) scale(1.05);}
  80%{ transform: rotate(-180deg) scale(1);}
  100%{ transform: rotate(-180deg) scale(1.05);}
}


#banner-right:hover{
  transform: scale(1.2) rotate(-180deg);
  transition: transform 0.2s ease;
}


#id-1{
  font-size: 45px;
  margin-bottom: 0px;
}

#id-2{
  font-size: 155px;
  font-style: oblique;
  font-weight: bolder;
  margin: 0.5px;
  margin-top: 0px;
  padding: 15px;
  animation: port 8s ease-in-out infinite;
}

@keyframes port{
  0%{ transform: scale(1.02); color: white;}
  50%{ transform: scale(1); color: black;}
  100%{ transform: scale(1.02); color: white;}
}

#id-3{
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 20px;
  position: relative;
  top: -100px;
  
}

.sub-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#id-4{
  font-size: 20px;
  font-style: normal;
  color: rgb(100, 95, 95);
  margin: 0.5px;
  position: relative;
  top: -90px;
}


.banner-text:hover{
  transform: scale(1.09);
  transition: transform 0.2s ease;
  color: white;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  position: relative;
  bottom: 450px;
  margin-bottom: 0px;
  color: white;
  animation: slideDown 1s ease-out forwards;
}


.intro-left{
  font-size: 110px;
  text-align: center;
  margin: 50px;
  margin-bottom: 0px;
  animation: slideDown 1.2s ease-out forwards;
}

.intro-right{
  margin-top: 0px;
  font-size: 50px;
  text-align: center;
  color: grey;
  position: relative;
  bottom: 150px;
  animation: slideDown 1.2s ease-out forwards;
  margin-bottom: 0px;
}

.intro p:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.right-ball, .left-ball, .upper-ball{
  margin: 0px;
}

.upper-ball div{
  width: 400px;
  height: 400px;
  background-color: #f760bd; 
  border-radius: 50%;
  position: relative;
  left: -600px;
  top: -60px;
  animation: float-upper 6s ease-in-out infinite;
}

@keyframes float-upper{
  0% {
    transform: translateY(0px);
    
  }
  50% {
    transform: scale(1.02) translateY(-30px);
    background-color: #f5a2d5;
  }
  100% {
    transform: translateY(0px);
    background-color: #f760bd;
  }
}

.right-ball div{
  width: 450px;
  height: 450px;
  background-color: #5390d6; 
  border-radius: 50%;
  position: relative;
  left: -700px;
  top: -200px;
  animation: float-right 6s ease-in-out infinite;
}

@keyframes float-right{
  0% {
    transform: translateY(0px);
    
  }
  50% {
    transform: scale(1.02) translateY(-30px);
    background-color: #7aa5d5;
  }
  100% {
    transform: translateY(0px);
    background-color: #5390d6;
  }
}

.left-ball div{
  width: 300px;
  height: 300px;
  background-color: #afc1d5; 
  border-radius: 50%;
  position: relative;
  left: 740px;
  top: 100px;
  animation: float-left 4s ease-in-out infinite;
}

@keyframes float-left{
  0% {
    transform: translateY(0px);
    background-color: #afc1d5;
  }
  50% {
    transform: scale(1.02) translateY(-30px);
    background-color: #70a0d6;
  }
  
  100% {
    transform: translateY(0px);
    background-color: #afc1d5;
  }
}





.intro-second{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px;
}

.title{
  font-size: 90px;
  margin-bottom: 0px;
}

.title:hover{
  transform: scale(1.03);
  transition: transform 0.2s ease;
}


.container{
  display: grid;
  grid-template-columns: repeat(4,450px);
  grid-auto-rows: 300px;
  margin: 150px;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


#item1{
  background-color: #4c64b3;
  grid-row: span 2;
}

#item1:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #8e55ba;
}

#item2{
    background-color: #7efa95;
    grid-column: span 3;
}

#item2:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #ce62df;
}

#item3{
    background-color: #438ac8;
}

#item3:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #c4c96f;
}

#item4{
    background-color: #37cad2;
}

#item4:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #416290;
}

#item5{
    background-color: #f073e1;
    grid-row: span 2;
}

#item5:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #f326ec;
}

#item6{
    background-color: #51e3bf;
}

#item6:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #1fc7d6;
}

#item7{
    background-color: #cd2c6c;
}

#item7:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #3c8271;
}

#item8{
    background-color: #dd4fd3;
}

#item8:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #3b5dd0;
}




.grid-container{
  display: grid;
  grid-template-columns: repeat(4,450px);
  grid-auto-rows: 300px;
  margin: 150px;
}

.grid-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}



#grid-item1{
  background-color: #4c5880;
  grid-column: span 2;
}

#grid-item1:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #cf9cf7;
}

#grid-item2{
    background-color: #B8DEA4;

}

#grid-item2:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #e3a3bd;
}

#grid-item3{
    background-color: #8fdbd8;
    grid-row: span 2;
}

#grid-item3:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #75b3a4;
}

#grid-item4{
  background-color: #FFCBBF;
  grid-row: span 2;
}

#grid-item4:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #769d61;
}

#grid-item5{
    background-color: #769d61;
}

#grid-item5:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #FFCBBF;
}

#grid-item6{
    background-color: #75b3a4;
}

#grid-item6:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #8fdbd8;
}

#grid-item7{
    background-color: #e3a3bd;
}

#grid-item7:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #B8DEA4;
}

#grid-item8{
    background-color: #cf9cf7;
    grid-column: span 2;
}

#grid-item8:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
  background-color: #4c5880;
}



